# build directories
/build/
/dist/

# temporary files
## vim
*.swp

# jetbrains directories
/.idea
/venv

# svelte files
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
