:root {
    --main-background: #2A2A2E;
    --dark-background: #202024;
    --light-background: #38383D;
    --lighter-background: #38383B;
    --font-color: white;
    --color-success: #3F8F29;
    --color-error: #DE1A24;
    font-family: Calibri, sans-serif;
    color: var(--font-color);
}

body {
    background-color: var(--main-background);
}

input[type="text"].ntinput, input[type="button"].ntinput, button.ntinput, select.ntinput {
    background-color: #444444;
    border-color: #444444;
    color: var(--font-color);
    border-radius: 2px;
}

button.ntinput {
    font-weight: 600;
}

button.ntinput.green {
    background-color: #508D69;
    border-color: #508D69;
}

button.ntinput.red {
    background-color: #C80036;
    border-color: #C80036;
}

.p-1 {
    padding: 2px;
}

.gap-1 {
    gap: 2px;
}

.gap-2 {
    gap: 4px;
}

.gap-3 {
    gap: 6px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-around {
    justify-content: space-between;
}

.font-success {
    color: var(--color-success);
}

.font-error {
    color: var(--color-error);
}
