:root {
    --main-background: #2A2A2E;
    --light-background: #38383D;
    --lighter-background: #38383B;
    --font-color: #BBCDD4;
}

body {
    font-family: Calibri, sans-serif;
    background-color: var(--main-background);
    color: var(--font-color);
}

h2:empty {
    display: none;
}

div.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.fav-element {
    border-radius: 7px;
    text-align: center;
    padding: 15px;
}

div.fav-element:hover {
    background-color: var(--lighter-background);
}

div.vertical-separator {
    border: 1px solid var(--lighter-background);
    border-radius: 7px;
    padding: 1px;
}

div.text-element {
    border: 1px solid var(--lighter-background);
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0 0 10px black;
    margin: 0px 15px 0px 15px;
}

div.text-element:empty {
    display: none;
}

div.link-icon {
    border-radius: 7px;
    background-color: var(--light-background);
    width: auto;
    padding: 10px;

    box-shadow: 0 0 10px black;
    margin-bottom: 5px;
}

img.icon {
    border-radius: 7px;
    max-width:  40px;
    min-width:  40px;
    max-height: 40px;
    min-height: 40px;
}

a.link-element {
    display: inline-block;
}

span.link-label {
    font-size: small;
}
